*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,sans-serif;
    background:linear-gradient(rgba(0,0,0,.75),rgba(0,0,0,.75)),
    url("https://images.unsplash.com/photo-1519501025264-65ba15a82390?auto=format&fit=crop&w=1920&q=80");
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
    color:#fff;
    min-height:100vh;
    text-align:center;
}

.hero{
    padding:80px 20px 40px;
}

.hero h1{
    font-size:55px;
    color:#b56cff;
    text-shadow:
    0 0 10px #8a2be2,
    0 0 25px #8a2be2,
    0 0 45px #b56cff;
}

.hero p{
    margin-top:20px;
    font-size:22px;
    color:#ddd;
}

.buttons{
    width:90%;
    max-width:420px;
    margin:40px auto;
}

.buttons a{
    text-decoration:none;
}

.buttons button{
    width:100%;
    margin:15px 0;
    padding:18px;
    font-size:22px;
    color:white;
    background:rgba(138,43,226,.35);
    border:1px solid rgba(255,255,255,.2);
    border-radius:18px;
    backdrop-filter:blur(12px);
    cursor:pointer;
    transition:.3s;
    box-shadow:0 0 20px rgba(138,43,226,.5);
}

.buttons button:hover{
    transform:translateY(-5px) scale(1.03);
    background:#8a2be2;
    box-shadow:0 0 35px #b56cff;
  }
